.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.welcome-message {
  text-align: center;
}

.welcome-message h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

.welcome-message p {
  font-size: 18px;
  color: #cccccc;
}
